:root {
  --primary: #262826;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 2000px;
  background-color: var(--primary);
  font-family: Koulen, sans-serif;
}

h1,
h2,
h3,
h4,
a,
p,
span {
  color: white;
  margin: 0;
}

.parallax-container {
  position: relative;
  overflow: hidden;
  transition: 600ms;
  min-height: 100vh;
  transition-timing-function: ease-in-out;
}

.parallax-layer {
  min-height: 100%;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#parallax-0 {
  background-size: cover;
  background-image: url('/assets/homepage/parallax/layer_0.png');
}

#parallax-1 {
  background-size: cover;
  background-image: url('/assets/homepage/parallax/layer_1.png');
}

#parallax-2 {
  background-size: cover;
  background-image: url('/assets/homepage/parallax/layer_2.png');
}

#parallax-3 {
  background-size: cover;
  background-image: url('/assets/homepage/parallax/layer_3.png');
}
#parallax-4 {
  background-size: 40% 60%;
  background-position: bottom left;
  background-image: url('/assets/homepage/parallax/layer_4.png');
}

#parallax-5 {
  background-size: cover;
  background-image: url('/assets/homepage/parallax/layer_5.png');
}

/* Onload animation */

section {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateY(20%);
}

.visible {
  opacity: 100%;
  transform: translateY(0%);
}

/* scrollbar */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5rem;
}

/* map section */

.map-section h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  text-align: center;
}

.map-section {
  padding-inline: 6%;
  margin-block: 3rem;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  padding-top: 2rem;
  gap: 3rem;
  flex-wrap: wrap;
}

.about-section p {
  flex: 1.5;
  text-align: justify;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.map-container {
  flex: 1;
  /* border: 4px solid white;
  border-radius: 8px; */
  padding: 8px;
}

.map-img {
  width: 100%;
  transition: filter 0.5s ease-in-out;
}
.map-img:hover {
  filter: sepia(100%) saturate(1000%) hue-rotate(45deg);
}

/* slider */

.logos {
  overflow: hidden;
  padding: 15px 0;
  white-space: nowrap;
}

.logos-slide {
  display: inline-block;
}

.logos-slide.right {
  animation: slideRight 30s linear infinite;
}

.logos-slide.left {
  animation: slideLeft 30s linear infinite;
}

.logos-slide img {
  height: 150px;
  margin: 0 10px;
  border-radius: 5%;
}

@keyframes slideLeft {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100vw);
  }
}

/* diversity */

.diversity-section {
  padding-inline: 6%;
}

.title-text {
  display: flex;
  position: relative;
  font-size: clamp(2rem, 5vw, 4rem);
  color: white;
  align-items: center;
  justify-content: space-between;
}
.title-textt {
  order: 2;
  text-align: right;
}

.bx {
  width: 47.5%;
  border-radius: 8px;
  height: 0.6rem;
  background-color: white;
  order: 1;
}
/* 
.title-text::before {
  content: "";
  position: absolute;
  display: flex;
  flex: 1;
  height: 6px;
  width: calc(100% - 40vw);
  top: 45%;
  right: 0;
  background-color: white;
} */

.diversity-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  margin-block: 1.5rem;
}

.diversity-top,
.diversity-bottom {
  display: flex;
  text-align: justify;
  align-items: flex-start;
  gap: 2rem;
}

.diversity-img {
  flex: 1;
}

.diversity-text,
.diversity-text-2 {
  flex: 1;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.diversity-img-2 {
  flex: 1.5;
}

.diversity-img > img,
.diversity-img-2 > img {
  width: 100%;
  height: 375px;
}

/* news section */
.news-section {
  padding-inline: 6%;
  flex-wrap: wrap;
}

.news {
  min-width: 300px;
  background-color: white;
  flex: 1;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
  user-select: none;
  border-radius: 1%;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.title-text2 {
  display: flex;
  position: relative;
  font-size: clamp(2rem, 5vw, 4rem);
  color: white;
  align-items: center;
  justify-content: space-between;
}
.title-textt2 {
  text-align: right;
}

.bx2 {
  width: 47.5%;
  border-radius: 8px;
  height: 0.6rem;
  background-color: white;
}

.news:hover {
  transform: translateY(-10px);
}

.news > img {
  border-radius: 0px;
  width: 100%;
}

.news > h2,
.news > p {
  color: var(--primary);
  padding-inline: 1.125rem;
}

.read-more-button {
  padding: 0.75rem 1.5rem;
  border: 2px solid black;
  background: linear-gradient(45deg, var(--primary) 50%, transparent 50%);
  background-size: 300% 200%;
  background-position: right bottom;
  transition: all 900ms cubic-bezier(0.23, 1, 0.32, 1);
  color: var(--primary);
  cursor: pointer;
  margin: 1rem;
  font-size: 1rem;
}

.read-more-button:hover {
  color: white;
  background-position: left bottom;
}

.part-of-section {
  margin-top: 24px;
}

.title-text3 {
  padding-inline: 6%;
  display: flex;
  position: relative;
  font-size: clamp(2rem, 5vw, 4rem);
  color: white;
  align-items: center;
  justify-content: space-between;
}

.title-textt3 {
  text-align: right;
}

.bx3 {
  width: 25%;
  border-radius: 8px;
  height: 0.6rem;
  background-color: white;
}

.background {
  background-image: url('../assets/homepage/proudToBePart/markus-spiske-WUehAgqO5hE-unsplash.jpg');
  background-size: cover;
  filter: brightness(60%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Ensure it's below the content */
}

.part-of-container {
  margin-top: 24px;
  height: 480px;
  position: relative; /* Add this line */
  filter: brightness(50%);
  overflow: hidden;
}

.part-of-img{
  padding-inline: 10%;
  padding-top: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.part-of-img img{
  width: 35%;
  filter: brightness(200%);
}

.footer {
  padding: 1rem 4% 1rem 4%;
  color: azure;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  gap: 2%;
}

.logo img {
  width: 32px;
}

.closure {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
  }

  .map-section h1 {
    flex-direction: column;
  }

  .title-text {
    flex-direction: column;
  }

  .bx {
    height: 0.25rem;
    order: 2;
    width: 100%;
  }

  .title-text2 {
    flex-direction: column;
  }

  .bx2 {
    height: 0.25rem;
    width: 100%;
    margin-bottom: 24px;
  }

  .title-text3 {
    flex-direction: column;
  }

  .bx3 {
    height: 0.25rem;
    width: 100%;
  }

  .diversity-top {
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }

  .diversity-bottom {
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }

  .diversity-text-2 {
    order: 1;
  }

  .diversity-img-2 {
    order: 2;
  }

  .part-of-img{
    flex-direction: column;
  }

  .part-of-img img{
    width: 55%;
  }
}
