:root {
    --primary: #262826;
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    height: 2000px;
    background-color: var(--primary);
    font-family: Koulen, sans-serif;
  }

  .landing-page{
    text-align: center;
    width: 100vw;
    height: 80vh;
    padding-top: 10rem;
    background-color: white;
  }

  .title-container{
    margin: 0 5rem 0 5rem;
    background-color: aqua;
  }

  .title{
    font-size: 3rem;
  }

  .subtitle{
    font-size: 2rem;
  }

  .main-container{
    margin: 7rem 5rem 5rem 5rem;
    display: flex;
    justify-content: space-between;
  }

  .left-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .right-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    justify-content: space-between;
    gap: 1rem;
  }

  .left-container .long-tile{
    height: 120%;
  }

  .short-tile{
    object-fit: cover;
    width: 100%;
    background-color: aquamarine;
  }

  .long-tile{
    object-fit: cover;
    width: 100%;
    background-color: blueviolet;
  }

  @media (max-width: 768px){
    .main-container{
      flex-direction: column;
      gap: 2rem;
    }

    .left-container, .right-container{
      width: 100%;
    }
  }